.navbar {
  background-color: #414141;
  color: white;
  padding: 10px;
  text-align: center;
}

.nav-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px #7e7e7e;
}
